*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* .header{
    width: 100%;
    height: 100vh;
    background: #B7C4CF;
} */

.side-nav {
    width: 250px;
    height: 100%;
    background: #6B99C3;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    z-index: 9;
    color: #0C151C;
}

.logo {
    display: block;
    margin-bottom: 130px;
}

.logo-img {
    width: 150px;
    margin-left: 13px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px 0;
}

.nav-links li a {
    color: #0C151C;
    text-decoration: none;
    padding: 15px 0px;
    display: flex;
    align-items: center;
}

.nav-links li a i {
    font-size: 45px;
    margin-right: 20px;
}

.active {
    background: white;
    width: 100%;
    height: 73px;
    position: absolute;
    left: 0;
    top: 4%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.3s;
}

.nav-links li:hover a {
    color: #0C151C;
    transition: 0.3s;
}

.nav-links li:hover ~ .active {
    display: block;
}

.nav-links li:nth-child(1):hover ~ .active {
    top: 1%;
}

.nav-links li:nth-child(2):hover ~ .active {
    top: 11%;
}

.nav-links li:nth-child(3):hover ~ .active {
    top: 21%;
}

@media only screen and (max-width: 600px) {
    .side-nav {
        width: 110px;
    }
    .logo {
        display: block;
        width: 45px;
    }
    .nav-links li a p {
        display: none;
    }
    .nav-links li a i {
        margin-right: 0;
    }
    .nav-links li a {
        justify-content: center;
    }
}

.main{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background: #E4E5EA;
}

.main div.main-block {
    margin-left: 250px;
}

a.login {
    color: #16354D;
    text-decoration: underline;
}