body {
    background: #E4E5EA;
}

/* div.login {
    margin: auto;
    width: 500px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
} */

div.login {
    position: absolute;
    width: 500px;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.register {
    position: absolute;
    width: 500px;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}