{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/700caa9d7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}?version=18">
    {% block additionalStyles %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="sidenav" id="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#" class="logo">
                <img src="{% static '/images/logo.png' %}?version=2" alt="404" class="logo-img">
            </a>
            <div class="info">
                <div class="time">
                    <h1>{{ time }}<br></h1>
                </div>
                <div class="user-welcome">
                    {% if request.user.userprofile.name %}
                    <h3>Welcome,<br><h2>{{request.user.userprofile.name}}</h2></h3>
                    {% else %}
                    <h3>Welcome,<br><p class="user">{{request.user}}</p></h3>
                    {% endif %}
                </div>
            </div>
            <ul class="nav-links">
                <li><a href="/"><i class="fa-solid fa-house"></i><p>Dashboard</p></a></li>
                <li><a href="/profile"><i class="fa-regular fa-id-badge"></i><p>Profile</p></a></li>
                <li><a href="/settings"><i class="fa-sharp fa-solid fa-gear"></i><p>Settings</p></a></li>
                <div class="active"></div>
            </ul>
        </div>
    </div>

    <div id="content", name="content", class="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
        <div class="main-block">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script>
    function openNav() {
        document.getElementById("sidenav").style.width = "250px";
        document.getElementById("content").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    
    function closeNav() {
        document.getElementById("sidenav").style.width = "0";
        document.getElementById("content").style.marginLeft= "0";
        document.body.style.backgroundColor = "#6B99C3";
    }
    </script>
    
</body>
</html>