{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block additionalStyles %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/calendar.css' %}?version=6">
{% endblock %}

{% block content %}
  <div class="clearfix">
    <a class="btn btn-outline-primary left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-outline-primary right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
  </div>
  {{ calendar }}
{% endblock %}